## Question 1 

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement

#### Answer

a=0 # creates a variable a and gives it a value 0

def b():  # defines a function named b

    global a  # takes value of a = 0 as a global variable in every place where a local a isn't defined
    
    a=c(a) # calls out function c and gives it a value a = 0
    
def c (a): # defines a function c and gives the values of a

    return a + 2  # returns the value of a + 2, i.e, 0 + 2 = 2 to assign the value 2 to a; a becomes 2.
 
b()
b()
b()
a

Here, function b will be called 3 times and it will add a = 2, 3 times and 
output will return the final value = 6

## Question 2

As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function file Length ( ) so that a friendly message is printed instead

In [98]:
def file_length(file_name):
    
    try:
        
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
        
    except:
        print ("File",file_name,"not found")
    
file_length('midterm.ipynb')
    
file_length('idterm.py')

717
File idterm.py not found

## Question 3

Write a class named Marsupial that can be used as shown below

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a.	extends the Marsupial init constructor to take, as input, the coordinates x and y of the Kangaroo object,
b.	supports method j ump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c.	overloads the	str operator so it behaves as shown below.

In [33]:
class Marsupial:
    
    def __init__(self):
        
        self.toys=[]
        
    def put_in_pouch(self,toy):
        
        self.toys.append(toy)
        
    def pouch_contents(self):
        
        print(self.toys)

In [34]:
m=Marsupial()

m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [45]:
class Kangaroo(Marsupial):
    
    def __init__(self,xcord,ycord):
            
        Marsupial.__init__(self)
            
        self.x = xcord
        self.y = ycord
            
    def jump(self,dx,dy):
        
        self.x += dx
        self.y += dy
        
    def __repr__(self):
        
        return 'I am a Kangaroo located at({}, {})'.format(self.x, self.y)

In [47]:
k=Kangaroo(0,0)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

print(k)

I am a Kangaroo located at(3, 0)

## Question 4

Write function collatz ( ) that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
if x is even x
if x is odd
Your function should stop when the sequence gets to number l. Your implementation must be recursive, without any loops.

In [73]:

def collatz(x):
    
    if x==1:
        return 1
    
    if x%2==0:
        print(int(x/2))
        return collatz(x/2)
    if x%2==1:
        print(int(3*x+1))
        return collatz(3*x+1)

In [76]:
collatz(1)

1

## Question 5

Write a recursive method binary ( ) that takes a non-negative integer n and prints the binary representation of integer n

In [86]:

def binary(x):
    
    if x > 1:
        
        binary(x // 2)
    
    print(x % 2, end = '')
    

binary(52)

110100

## Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTML Parser, defined in Standard Library module html . parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h I heading should have
indentation 0, and h2 heading should have indentation l, etc. Test your implementation using w3c.html.

In [12]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    
    x = ""
    
    def handle_starttag (self, tag, attrs):
        
        if tag == "h1":
            
            self.x = "h1"
            
        if tag == "h2":
            
            self.x = "h2"
            
    def handle_data (self, data):
        
        if self.x == "h1":
            
            print(data)
            
        if self.x == "h2":
            
            print('\t' + data)
            
    def handle_endtag (self, tag):
        
        if tag == "h1" or tag == "h2":
            
            self.x = ""
            
infile = open("w3c.html")

content = infile.read()

infile.close()

headpar = HeadingParser()

headpar.feed(content)

W3C Mission
	Principles

## Question 7

Implement recursive function webdir( ) that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

## Question 8

Write SQL queries on the below database table that return:

In [30]:

import sqlite3

databas = sqlite3.connect("cities.db")

cur = databas.cursor()

cur.execute("Create Table Matter (City text, Country text, Season text, Temprature float, Rainfall float)")

cur.execute("Insert into Matter (City, Country, Season, Temprature, Rainfall) values ('Mumbai','India','Winter',24.5,5.9),('Mumbai','India','Spring',28.4,16.2),('Mumbai','India','Summer',27.9,1549.4),('Mumbai','India','Fall',27.6,346),('London','United Kingdom','Winter',4.2,207.7),('London','United Kingdom','Spring',8.3,169.6), ('London','United Kingdom','Summer',15.7,157), ('London','United Kingdom','Fall',10.4,218.5), ('Cairo','Egypt','Winter',13.6,16.5), ('Cairo','Egypt','Spring',20.7,6.5),('Cairo','Egypt','Summer',27.7,0.1),('Cairo','Egypt','Fall',22.4,4.5)")

databas.commit()

#### a) All the temperature data.

In [31]:
cur.execute("select Temprature from Matter")
cur.fetchall()

[(24.5,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.4,)]

####  b) All the cities, but without repetition.

In [33]:
cur.execute("select distinct City from Matter")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

#### c)	All the records for India.

In [35]:
cur.execute("select * from Matter where Country ='India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.5, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

#### d)	All the Fall records.

In [36]:
cur.execute("select * from Matter where Season='Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.4, 4.5)]

#### e)	The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [38]:
cur.execute("select City, Country, Season from Matter where Rainfall between 200 and 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

#### f)	The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [39]:
cur.execute("select City, Country from Matter where Season = 'Fall' and Temprature > 20 order by Temprature")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

####  g)	The total annual rainfall for Cairo.

In [40]:
cur.execute("select sum(Rainfall) from Matter where City = 'Cairo'")
cur.fetchall()

[(27.6,)]

#### h)	The total rainfall for each season.

In [45]:
cur.execute("select Season, sum(Rainfall) from Matter group by Season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

## Question 9

Suppose list words is defined as follows:
words - [ 'The ', ' quick', ' brown ', 'fox', 'jumps', 'over ',
'the', ' lazy' , ' dog ' ]
Write list comprehension expressions that use list words and generate the following lists:

#### 1. Uppercase of the words

In [47]:
words = ['the','quick','brown','fox','jumps','over','the','lazy','dog']

uppercase = [word.upper() for word in words]
uppercase

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### Lowercase of the words

In [48]:
lowercase = [word.lower() for word in words]
lowercase

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### The list of lengths of words in list words

In [49]:
wordlength = [len(word) for word in words]
wordlength

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### The list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word

In [50]:
mixedlist = [[word.upper(), word.lower(), len(word)] for word in words]
mixedlist

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

#### The list of words in list words containing 4 or more characters.

In [54]:
length3list = [word for word in words if len(word) >= 4]
length3list

['quick', 'brown', 'jumps', 'over', 'lazy']